
.homePage{
    padding:20rem 10px 0 10px;
    color:white;
    text-align:center;
    max-width:100%;
    height:100vh;
    background-image: linear-gradient( 180.4deg,  rgba(188,120,236,1) -2.2%, rgba(29,133,163,1) 83.5% );
}
.name{
font-size:2rem;
}

.title{
    font-size:6vw;
}
.header{
   text-align: center;
   line-height:4vh;
}

 a{
    font-size:2.5rem;
    display:inline-block;
    padding:2rem 1.5rem;
    margin:auto 0;

}

.github :hover{
  color:black;}

.linkedIn :hover{
  color:rgba(3, 9, 196, 0.743);
} 
.gmail :hover{
  color:rgb(123, 17, 123);
}

.buttons :hover{
animation-name:button;
position:relative;
animation-duration:0.5s;
}

@keyframes button{
    0% {bottom:0px;}
    50%{bottom:5px;}
    100%{bottom:0px;}
}




.aboutText{
    max-width:60%;
    min-height:25%;
    margin:3rem auto;
 
}
.brand{
    font-size:0.9rem;
    width:100%;
    position:absolute;
    text-align: center;
    bottom:1rem;
}

  

@media only screen and (max-width:600px){
   .name{
       font-size:8vw;
   }
   .description{
    font-size:0.9rem;
   }
  
}

@media only screen and (min-width:650px){
    .header{
        line-height:5vh;
    }
    .description{
        font-size:0.95rem;
       }
}

@media only screen and (min-width:900px){
    
    .name{
        line-height:3rem;
    }
   
}

@media only screen and (min-width:1200px){
    a{
        padding:5rem 3.5rem;
        font-size:3rem;
    }
}

@media only screen and (min-width:1500px){
  
    .name{
       font-size:2.5rem;
       line-height:8rem;
    }

}
